.buff {
    background-color: darkgray;
    position: relative;
    top: 30px;
    padding: 30px;
    padding-left: 20%;
    padding-right: 40%;
    padding-bottom: 20%;
    
    text-align: center;
    height: 100px;
    width: 100px;
}
button:hover{
    background-color: aqua;
}