div.buff {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    opacity: 0.8;
    
    
    li{
        list-style-type: none;
    }
}
button:hover{
    background-color: aqua;
}
.container-flex{
    display: flex;
    background-color: chocolate;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: space-between;
    
}
.container-flex div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;}
    *{
        box-sizing: border-box;
    }
    @media only screen and(min-width: 400px) {
        
    }
    table{
        border-collapse: collapse;
        width: 70%;
        text-align: center;
    }
    tr th{
        border: 1px solid;
border-collapse: collapse;
padding: 15px;
    }
    tr td{
        border: 1px solid;
        padding: 15px;
        background-color: aqua;

    }
    td:hover{
        background-color: cadetblue;
    }
    ol{
        font-weight: 100;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: medium;
    }
    li{
        color: darkslategray;
    }
    